<div class="task-container">
    <div class="title row">
        <div class="task-title">
            {{task?.title}}
        </div>
        <button 
            #tooltip="matTooltip"
            matTooltip="Edit task"
            class="edit"
            type="button"
            [matTooltipClass]="'tooltip'"
            [matTooltipPosition]="'below'"
            (click)="editTask()">
        </button>
        <button 
            #tooltip="matTooltip"
            matTooltip="Delete task"
            class="delete"
            type="button"
            [matTooltipClass]="'tooltip'"
            [matTooltipPosition]="'below'"
            (click)="deleteTask()">
        </button>
    </div>
    <div class="row desc">{{task?.description}}</div>
</div>